
params {

  refs {
    'GRCh38' {
        gfasta = ${params.metaFiles}'/NCBI_GRCh38/WholeGenomeFasta/genome.fa'
        bwa_index = ${params.metaFiles}'/reference/NCBI_GRCh38/WholeGenomeFasta/genome.fa.bwt'
        dbsnp = ${params.metaFiles}'/reference/GATK/hg38/dbsnp_146.hg38.vcf.gz'
        hapmap = ${params.metaFiles}'/GATK/hg38/hapmap_3.3.hg38.vcf.gz'
        omni = ${params.metaFiles}'/GATK/hg38/1000G_omni2.5.hg38.vcf.gz '
        mills = ${params.metaFiles}'/GATK/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
        thousandg = ${params.metaFiles}'/GATK/hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
        bed12 = ${params.metaFiles}'/NCBI_GRCh38/Genes/genes.bed'
        snpeff = ${params.metaFiles}'/snpEff_databases/hg38'
        vep = '/sc/orga/projects/losicb01a/common_folder/ref/hg38/other/vep/homo_sapiens_merged/82_GRCh38'
        
        // Agilent v5 exome target capture kits
        target = ${kitFiles}'/hg38/agilent_sureselect_v5/S04380110_Covered.interval_list'
        bait = ${kitFiles}'/hg38/agilent_sureselect_v5/S04380110_Regions.interval_list'
        target_bed = ${kitFiles}'/hg38/agilent_sureselect_v5/S04380110_Covered.bed'
    }

}