params {
  refs {
    'GRCh38' {
        gfasta = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/NCBI/WholeGenomeFasta/genome.fa'
        bwa_index ='/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/NCBI/WholeGenomeFasta/genome.fa.bwt'
        dbsnp = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/GATK/dbsnp_146.hg38.vcf.gz'
        hapmap = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/GATK/hapmap_3.3.hg38.vcf.gz'
        omni = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/GATK/1000G_omni2.5.hg38.vcf.gz'
        mills = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/GATK/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
        thousandg = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/GATK/1000G_phase1.snps.high_confidence.hg38.vcf.gz'
        bed12 ='/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/NCBI/WholeGenomeFasta/Genes/genes.bed'
        snpeff = '/sc/orga/projects/losicb01a/common_folder/reference/Annotation/snpEff/hg38'
        vep_cache = '/sc/orga/projects/losicb01a/common_folder/reference/Annotation/VEP/cache/'
        vep_fasta = '/sc/orga/projects/losicb01a/common_folder/reference/Annotation/VEP/fasta/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
        
        // Agilent v5 exome target capture kits
        target = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/kit-files/agilent_v5/S04380110_Covered.interval_list'
        bait = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/kit-files/agilent_v5/S04380110_Regions.interval_list'
        target_bed = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg38/kit-files/agilent_v5/S04380110_Covered.bed'
    }


   
    'hg19' {   // UNDER CONSTRUCTION; NOT YET SUPPORTED
        gfasta = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/fasta/genome.fa'
        bwa_index ='/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/fasta/genome.fa.bwt'
        dbsnp = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/vcf/dbsnp_138.hg19.sort.vcf'
        // hapmap = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/vcf/hapmap_3.3.hg38.vcf.gz'
        omni = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/vcf/1000G_omni2.5.hg38.vcf.gz '
        mills = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/vcf/Mills_and_1000G_gold_standard.indels.hg19.sites.sort.vcf'
        thousandg = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/vcf/1000G_phase1.indels.hg19.sites.sort.vcf '
        bed12 ='/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/bed/genes.bed'
        snpeff = '/sc/orga/projects/losicb01a/common_folder/reference/Annotation/snpEff/hg19'
        vep_cache = '/sc/orga/projects/losicb01a/common_folder/reference/Annotation/VEP/cache/'
        vep_fasta = '/sc/orga/projects/losicb01a/common_folder/reference/Annotation/VEP/fasta/'
        
        // Agilent v5 exome target capture kits
        target = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/kit-files/agilent_v5/'
        bait = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/kit-files/agilent_v5/'
        target_bed = '/sc/orga/projects/losicb01a/common_folder/reference/homo_sapiens/hg19/kit-files/agilent_v5/'
    }

  }

}