params {

    // for new hydra partition
    // refDir="/sc/hydra/projects/losicb01a/common_folder/reference/"
    refDir="/sc/orga/projects/losicb01a/common_folder/reference/"

    refs {


    // HUMAN REFS

    'hg38' {
        gfasta = "${params.refDir}homo_sapiens/hg38/NCBI/WholeGenomeFasta/genome.fa"
        bwa_index = "${params.refDir}homo_sapiens/hg38/NCBI/WholeGenomeFasta/genome.fa.bwt"
        dbsnp = "${params.refDir}homo_sapiens/hg38/GATK/dbsnp_146.hg38.vcf.gz"
        hapmap = "${params.refDir}homo_sapiens/hg38/GATK/hapmap_3.3.hg38.vcf.gz"
        omni = "${params.refDir}homo_sapiens/hg38/GATK/1000G_omni2.5.hg38.vcf.gz"
        mills = "${params.refDir}homo_sapiens/hg38/GATK/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
        thousandg = "${params.refDir}homo_sapiens/hg38/GATK/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
        bed12 = "${params.refDir}homo_sapiens/hg38/NCBI/WholeGenomeFasta/Genes/genes.bed"
        
        
        // Agilent v5 exome target capture kits
        target = "${params.refDir}homo_sapiens/hg38/kit-files/agilent_v5/S04380110_Covered.interval_list"
        bait = "${params.refDir}homo_sapiens/hg38/kit-files/agilent_v5/S04380110_Regions.interval_list"
        target_bed = "${params.refDir}homo_sapiens/hg38/kit-files/agilent_v5/S04380110_Covered.bed"
    }

/*
   
    'hg19' {   // UNDER CONSTRUCTION; NOT YET SUPPORTED

        gfasta = "${params.refDir}homo_sapiens/hg19/fasta/Homo_sapiens.GRCh37.75.dna_sm.primary_assembly.fa"
        bwa_index = "${params.refDir}homo_sapiens/hg19/fasta/"
        dbsnp = "${params.refDir}homo_sapiens/hg19/vcf/dbsnp_138.hg19.sort.vcf"
        hapmap = "${params.refDir}homo_sapiens/hg19/vcf/"
        omni = "${params.refDir}homo_sapiens/hg19/vcf/"
        mills = "${params.refDir}homo_sapiens/hg19/vcf/Mills_and_1000G_gold_standard.indels.hg19.sites.sort.vcf"
        thousandg = "${params.refDir}homo_sapiens/hg19/vcf/1000G_phase1.indels.hg19.sites.sort.vcf"
        bed12 = "${params.refDir}homo_sapiens/hg19/bed/"

        
        // Agilent v5 exome target capture kits
        target = "${params.refDir}homo_sapiens/hg19/kit-files/agilent_v5/"
        bait = "${params.refDir}homo_sapiens/hg19/kit-files/agilent_v5/"
        target_bed = "${params.refDir}homo_sapiens/hg19/kit-files/agilent_v5/"
    }


    // MOUSE REFS [UNDER CONSTRUCTION, NOT YET SUPPORTED]

   'mm10' {   // UNDER CONSTRUCTION; NOT YET SUPPORTED

        gfasta = "${params.refDir}mus_musculus/mm10/fasta/Mus_musculus.GRCm38.fa"
        bwa_index = "${params.refDir}mus_musculus/mm10/"
        dbsnp = "${params.refDir}mus_musculus/mm10/"
        hapmap = "${params.refDir}mus_musculus/mm10/"
        omni = "${params.refDir}mus_musculus/mm10/"
        mills = "${params.refDir}mus_musculus/mm10/"
        thousandg = "${params.refDir}mus_musculus/mm10/"
        bed12 = "${params.refDir}mus_musculus/mm10/bed/Mus_musculus.GRCm38.75.gtf.bed"
        snpeff = "${params.refDir}Annotation/snpEff/mm10"
        vep_cache = "${params.refDir}Annotation/VEP/cache/"
        vep_fasta = "${params.refDir}Annotation/VEP/fasta/"
        
        // Agilent v5 exome target capture kits
        target = "${params.refDir}mus_musculus/mm10/kit-files/agilent_v5/"
        bait = "${params.refDir}mus_musculus/mm10/kit-files/agilent_v5/"
        target_bed = "${params.refDir}mus_musculus/mm10/kit-files/agilent_v5/"
    }

   'mm9' {   // UNDER CONSTRUCTION; NOT YET SUPPORTED

        gfasta = "${params.refDir}mus_musculus/mm9/fasta/GRCm38.primary_assembly.genome.fa"
        bwa_index = "${params.refDir}mus_musculus/mm9/"
        dbsnp = "${params.refDir}mus_musculus/mm9/"
        hapmap = "${params.refDir}mus_musculus/mm9/"
        omni = "${params.refDir}mus_musculus/mm9/"
        mills = "${params.refDir}mus_musculus/mm9/"
        thousandg = "${params.refDir}mus_musculus/mm9/"
        bed12 = "${params.refDir}mus_musculus/mm9/bed/gencode.vM9.primary_assembly.annotation.gtf.bed"
        snpeff = "${params.refDir}Annotation/snpEff/mm9"
        vep_cache = "${params.refDir}Annotation/VEP/cache/"
        vep_fasta = "${params.refDir}Annotation/VEP/fasta/"
        
        // Agilent v5 exome target capture kits
        target = "${params.refDir}mus_musculus/mm9/kit-files/agilent_v5/"
        bait = "${params.refDir}mus_musculus/mm9/kit-files/agilent_v5/"
        target_bed = "${params.refDir}mus_musculus/mm9/kit-files/agilent_v5/"
    }

*/
  }

}