/*
MSSM Minerva config file for nfcore/ExoSeq pipeline
Contains paths (Losic-Group Specific) for meta files, genomes and
configurations for executors i.e. LSF

FOR RUNNING ON INTERACTIVE NODE!!
*/

process {
    executor = 'local'
    cpus = {2 * task.attempt}
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }

    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
    module = ['gatk/4.0.1.2', 'bwa/0.7.15', 'samtools', 'fastqc', 'trim_galore/0.4.5', 'R', 'picard/2.7.1', 'vep']

    // step-specific resource allocations


    $fastqc {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $trim_galore {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $bwamem {
        cpus = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
        time = { 10.h * task.attempt }
    }

    $markDuplicates {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $recalibrateBam {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $applyBQSR {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    
    $collectMultiMetrics {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $variantCall {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 8.h * task.attempt }
    }

    $vepAnnotation {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 3.h * task.attempt }
    }

}

env {
PICARD= '$PICARD'
//SNPEFF_JAR = '$SNPEFF_JAR'
//SNPEFF_HOME = '$SNPEFF_HOME'

//scrape_software_versions='bin/scrape_software_versions.py'\
}