/*
MSSM Minerva config file for nfcore/ExoSeq pipeline
Contains paths (Losic-Group Specific) for meta files, genomes and
configurations for executors i.e. LSF

FOR RUNNING ON INTERACTIVE NODE!!
*/


process {
    executor = 'local'

    // step-specific resource allocations
    $fastqc {
        cpus = { 2 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 3.h * task.attempt }
    }

    $trim_galore {
        cpus = { 2 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $bwamem {
        cpus = { 16 * task.attempt }
        memory = { 64.GB * task.attempt }
        time = { 10.h * task.attempt }
    }

    $mergeBamFiles {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 2.h * task.attempt }
    }

    $markDuplicates {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $recalibrateBam {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $applyBQSR {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    
    $collectMultiMetrics {
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $callSNPs {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
    $callSomaticVariants {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
}

