/*
MSSM Minerva config file for nfcore/ExoSeq pipeline
Contains paths (Losic-Group Specific) for meta files, genomes and
configurations for executors i.e. LSF
*/



params.minerva_account=false
params.job_queue='alloc'


process {
    executor = 'lsf'
    queue = params.job_queue
    clusterOptions = { "-P $params.minerva_account" }
 
    // step-specific resource allocations
    $fastqc {
        cpus = { 2 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 3.h * task.attempt }
    }

    $trim_galore {
        cpus = { 2 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 3.h * task.attempt }
    }

    $bwamem {
        cpus = { 32 * task.attempt }
        memory = { 64.GB * task.attempt }
        time = { 10.h * task.attempt }
    }

    $markDuplicates {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $recalibrateBam {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $applyBQSR {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5h * task.attempt }
    }
    
    $collectMultiMetrics {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }

    $variantCall {
        cpus = { 16 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 10.h * task.attempt }
    }

}


executor {
    name = 'lsf'
    queueSize = 30
    pollInterval = '30 sec'
    jobName = { "$task.name" }
}