/*
MSSM Minerva config file for nfcore/ExoSeq pipeline
Contains paths (Losic-Group Specific) for meta files, genomes and
configurations for executors i.e. LSF
*/

process {
    executor = 'lsf'
    cpus = {2 * task.attempt}
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
    $bwaAlign {
        module = ['bioinfo-tools', 'bwa/0.7.15']
        cpus = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
    $fastqToSam {
        module = ['bioinfo-tools', 'picard/2.0.1']
        cpus = { 4 * task.attempt }
    }
    $mergeLaneBam {
        module = ['bioinfo-tools', 'picard/2.0.1']
        cpus = { 8 * task.attempt }
        memory = { 40.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
    $sortLanesBam {
        module = ['bioinfo-tools', 'picard/2.0.1']
    }
    $mergeSampleBam {
        module = ['bioinfo-tools', 'picard/2.0.1']
        cpus = { 8 * task.attempt }
        memory = { 40.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
    $markDuplicate {
        module = ['bioinfo-tools', 'picard/2.0.1']
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    $recalibrate {
        module = ['bioinfo-tools', 'GATK/3.7']
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    $realign {
        module = ['bioinfo-tools', 'GATK/3.7']
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    $calculateMetrics {
        module = ['bioinfo-tools', 'picard/2.0.1']
    }
    $variantCall {
        module = ['bioinfo-tools', 'GATK/3.7']
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    $variantSelect {
        module = ['bioinfo-tools', 'GATK/3.7']
        cpus = { 4 * task.attempt }
        time = { 3.h * task.attempt }
    }
    $filterSnp {
        module = ['bioinfo-tools', 'GATK/3.7']
    }
    $filterIndel {
        module = ['bioinfo-tools', 'GATK/3.7']
    }
    $combineVariants {
        module = ['bioinfo-tools', 'GATK/3.7']
        cpus = { 4 * task.attempt }
    }
    $haplotypePhasing {
        module = ['bioinfo-tools', 'GATK/3.7']
        cpus = { 4 * task.attempt }
        time = { 3.h * task.attempt }
    }
    $variantEvaluate {
        module = ['bioinfo-tools', 'GATK/3.7']
        cpus = { 4 * task.attempt }
    }
    $variantAnnotate {
        module = ['bioinfo-tools', 'GATK/3.7', 'snpEff/4.2']
        cpus = { 4 * task.attempt }
        time = { 3.h * task.attempt }
    }
}

params {
    metaFiles {
        'GRCh37' {
            gfasta = '/sc/orga/projects/losicb01a/reference_seq/'
            bwa_index = '/sc/orga/projects/losicb01a/reference_seq/'
            dbsnp = '/sc/orga/projects/losicb01a/reference_seq/'
            hapmap = '/sc/orga/projects/losicb01a/reference_seq/'
            omni = '/sc/orga/projects/losicb01a/reference_seq/'
        }
    }
    kitFiles {
        'agilent_v5' {
            bait = '/sc/orga/projects/losicb01a/reference_seq/'
            target = '/sc/orga/projects/losicb01a/reference_seq/'
            target_bed = '/sc/orga/projects/losicb01a/reference_seq/'
        }
    }
}
