/*
MSSM Minerva config file for nfcore/ExoSeq pipeline
Contains paths (Losic-Group Specific) for meta files, genomes and
configurations for doing local testing of pipeline in the interactive nodexecutors i.e. LSF
*/

params {

process {

    executor = 'local'
    cpus = {2 * task.attempt}
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
    $samtools {module = ['samtools']}
    $bwa {module = ['bwa/0.7.15']}
    $fastqToSam {module = ['picard/2.0.1']}
    
    $mergeLaneBam {module = ['picard/2.0.1']}
    $sortLanesBam {module = ['picard/2.0.1']}
    $mergeSampleBam {module = ['picard/2.0.1']}
    $markDuplicate {module = ['picard/2.0.1']}
    $recalibrate {module = ['gatk/3.6-0']}
    $realign {module = ['gatk/3.6-0']}
    $calculateMetrics {module = ['picard/2.0.1']}
    $variantCall {module = ['gatk/3.6-0']}
    $variantSelect {module = ['gatk/3.6-0']}

    $filterSnp {module = ['gatk/3.6-0']}
    $filterIndel {module = ['gatk/3.6-0']}
    $combineVariants {module = ['gatk/3.6-0']}
    $haplotypePhasing {module = ['gatk/3.6-0']}
    $variantEvaluate {module = ['gatk/3.6-0']}
    $variantAnnotate {module = ['snpeff/4.1']}

}

}
