genomes {
        
        'GRCh38' {
            gfasta = '/sc/orga/projects/losicb01a/common_folder/reference/NCBI_GRCh38/WholeGenomeFasta/genome.fa'
            bwa_index = '/sc/orga/projects/losicb01a/common_folder/reference/NCBI_GRCh38/BWAIndex/genome.fa.bwt'
            dbsnp = '/sc/orga/projects/losicb01a/common_folder/reference/GATK/hg38/dbsnp_146.hg38.vcf.gz'
            hapmap = '/sc/orga/projects/losicb01a/common_folder/reference/GATK/hg38/hapmap_3.3.hg38.vcf.gz'
            omni = '/sc/orga/projects/losicb01a/common_folder/reference/GATK/hg38/1000G_omni2.5.hg38.vcf.gz '
            mills = '/sc/orga/projects/losicb01a/common_folder/reference/GATK/hg38/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
            thousandg = '/sc/orga/projects/losicb01a/common_folder/reference/GATK/hg38/1000G_phase1.snps.high_confidence.hg38.vcf.gz '
            bed12 = '/sc/orga/projects/losicb01a/common_folder/reference/NCBI_GRCh38/Genes/genes.bed'
        }
        
    }
    
    
    
    
    kitFiles {
        'sureselect_v5' {
            bait = '/sc/orga/projects/losicb01a/common_folder/reference/kitfiles/hg38/agilent_sureselect_v5/'
            target = '/sc/orga/projects/losicb01a/common_folder/reference/kitfiles/hg38/agilent_sureselect_v5/'
            target_bed = '/sc/orga/projects/losicb01a/common_folder/reference/kitfiles/hg38/agilent_sureselect_v5/S04380110_Covered.bed'
        }
    }
