/*
MSSM Minerva config file for nfcore/ExoSeq pipeline
Contains paths (Losic-Group Specific) for meta files, genomes and
configurations for executors i.e. LSF
*/

process {
    executor = 'lsf'
    cpus = {2 * task.attempt}
    memory = { 16.GB * task.attempt }
    time = { 2.h * task.attempt }
    clusterOptions = { "-A $params.project -P $params.account -q params.queue" }
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
    $bwa {
        module = ['bwa/0.7.15']
        cpus = { 8 * task.attempt }
        memory = { 64.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
    $fastqToSam {
        module = ['picard/2.0.1']
        cpus = { 4 * task.attempt }
    }
    $mergeLaneBam {
        module = ['picard/2.0.1']
        cpus = { 8 * task.attempt }
        memory = { 40.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
    $sortLanesBam {
        module = ['picard/2.0.1']
    }
    $mergeSampleBam {
        module = ['picard/2.0.1']
        cpus = { 8 * task.attempt }
        memory = { 40.GB * task.attempt }
        time = { 10.h * task.attempt }
    }
    $markDuplicate {
        module = ['picard/2.0.1']
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    $recalibrate {
        module = ['gatk/3.6-0']
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    $realign {
        module = ['gatk/3.6-0']
        cpus = { 8 * task.attempt }_r
        memory = { 32.GB * task.attempt }
        time = { 5.h * task.attempt }
    }
    $calculateMetrics {
        module = ['picard/2.0.1']
    }
    $variantCall {
        module = ['gatk/3.6-0']
        cpus = { 8 * task.attempt }
        memory = { 32.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    $variantSelect {
        module = ['gatk/3.6-0']
        cpus = { 4 * task.attempt }
        time = { 3.h * task.attempt }
    }
    $filterSnp {
        module = ['gatk/3.6-0']
    }
    $filterIndel {
        module = ['gatk/3.6-0']
    }
    $combineVariants {
        module = ['gatk/3.6-0']
        cpus = { 4 * task.attempt }
    }_r
    $haplotypePhasing {
        module = ['gatk/3.6-0']
        cpus = { 4 * task.attempt }
        time = { 3.h * task.attempt }
    }
    $variantEvaluate {
        module = ['gatk/3.6-0']
        cpus = { 4 * task.attempt }
    }
    $variantAnnotate {
        module = ['snpeff/4.1']
        cpus = { 4 * task.attempt }
        time = { 3.h * task.attempt }
    }
}

params {
   account=''
   queue='low'
}
